<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="about-portrait">
        {{ with .root.Site.Params.avatar }}
        <img src="{{ "/img/" | relURL }}{{ . }}" class="rounded-circle mb-1" />
        {{ end }}
        <h1>{{ .root.Site.Params.name }}</h1>
      </div>

      {{ range .root.Site.Params.social }}
      <ul class="list-unstyled about-social">
        <li>
          <a href="{{ .link }}">
            <img src="{{ "/svg/" | relURL }}{{ .icon }}" class="pr-1" />
            {{ .name }}
          </a>
        </li>
      </ul>
      {{ end }}
    </div>
    <div class="col-md-8 about-biography">
      {{ .page.Content }}
      <div class="row mt-2">
        {{ with .page.Params.work }}
        <div class="col-md-6">
          <h3 class="mb-1">{{ .title | default "Work" | markdownify }}</h3>
          {{ range .positions }}
            <div class="card">
              <div class="card-header">
                <strong>{{ .position }}, {{ .duration }}</strong>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="{{ "/svg/" | relURL }}work_icon.svg" class="pr-1" />
                  </div>

                  <div class="col-xs-10">
                  {{ .employee }}
                  </div>
                </div>
                <div class="mt-1">
                  {{ range .tags }}
                    <span class="tag p-tag-dark-red">{{ .name }}</span>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
        </div>
        {{ end }}

        {{ with .page.Params.education }}
        <div class="col-md-6">
          <h3 class="mb-1">{{ .title | default "Education" | markdownify }}</h3>
          {{ range .courses }}
            <div class="card">
              <div class="card-header">
                <strong>{{ .course }}, {{ .year }}</strong>
              </div>

              <div class="card-block">
                <div class="row">
                  <div class="col-xs-2">
                    <img src="{{ "/svg/" | relURL }}univesity_icon.svg"/>
                  </div>

                  <div class="col-xs-10">
                    {{ .institution }}
                  </div>
                </div>

                {{ range .achievements }}
                  <div class="row mt-1">
                    <div class="col-xs-2">
                      <img src="{{ "/svg/" | relURL }}grade_icon.svg" />
                    </div>
                    <div class="col-xs-10">
                      {{ .name }}
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
