<div class="container" id="projects">
  <div class="row m-t-1">
    <div class="col-md-8 offset-md-4">
      <h2>{{ with .page.Title }}{{ . | markdownify }}{{ end }}</h2>
      {{ range where .root.Data.Pages "Type" "project" }}
      <div class="card card-block">
        <h5 class="card-title">{{ .Params.project_title }}</h5>
        <p class="card-text">{{ .Content }}</p>
        <p>
          {{ range .Params.tags }}
            <span class="tag tag-default">{{ .name }}</span>
          {{ end }}
        </p>
        <a href="{{ .Params.external_link }}" class="card-link">{{ .Params.external_link_title }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
