.about-portrait {
  text-align: center;
  img {
    max-width: 200px;
  }
}

.about-biography {
  h1 {
    font-size: 3.5em;
  }
}

.about-social {
  text-align: center;

  img {
    height: 30px;
  }
}
