//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 30px;
}

// Frameworks
@import "bootstrap";

// Variables

@import "variables";

// Utility

@import "utility";

// Components

.p-tag-dark-red {
  background-color: $color-dark-red;
}

// Sections
@import "about";


// Typography

a:hover {
  color: $color-yellow;
}
