.blurb {
  margin: 0em 0em 1em 0em;
  padding: 0 0.5em;
  color: hsla(0, 0%, 0%, 0.6);
  border-left: 0.39rem solid hsla(0, 0%, 0%, 0.13);
  font-size: 1em;
  p {
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 0px;
  }
}

.tagList {
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.workExperienceTag {
  background-color: #e37b40;
  color: white;
  margin: 2px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.7em;
}
