.about-portrait {
  text-align: center; }
  .about-portrait img {
    max-width: 200px; }

.about-biography h1 {
  font-size: 3.5em; }

.about-social {
  text-align: center; }
  .about-social img {
    width: 40px;
    height: 40px; }
